/*Fonts var*/
$base-font: Helvetiva, Arial;
$helvetica: Helvetiva, Arial;
$base-fz: 12px;
$base-lh: 1.2;

/*Color var*/
$text-c: #000;
$header-c: #333;
$brand-c: #ff7200;
$link-active-c: #006db8;
$grey: #a6a5a5;
$border: #e6eaeb;
$constructor-c: #ecf2f4;
$dark-grey-c: #555;



